# dependencies
frontend/node_modules
backend/node_modules
backend/package-lock.json

# Serverless
backend/.serverless

#READMEs
backend/READMEORIGINAL
frontend/READMEORIGINAL

#Others
backend/src/routes/categorie
backend/mocks/categorie